code, pre {
  font-family: "JetBrains Mono", Menlo, Monaco, "Courier New", monospace;
}

p code, li code {
  padding: .25em .25em;
  font-size: .75em;
  color: $code-color;
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  border-radius: 4px;
  margin: 0.25em;
  white-space: nowrap;
}

pre {
  border-radius: $border-radius;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  font-size: 80%;
  color: #333;
  background-color: #f8f8f8;
  overflow-x: auto;
  scrollbar-color: $scrollbar-color darken($scrollbar-color, 50);
  scrollbar-width: thin;
  line-height: 1.4;
  
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
  }

  &::-webkit-scrollbar {
    height: 0.25rem;
    background-color: darken($scrollbar-color, 50);
  }
}
