$font-fallback: 'Helvetica Neue', 'sans-serif';
$font-family: 'EB Garamond', $font-fallback;
$header-font-family: 'Playfair Display', $font-fallback;
$font-size: 22px;
$line-height: 1.7;

$min-width-breakpoint: 42em;

$body-padding: 0.75rem 1.5rem;
$font-color: #333;
$background-color: #fffffc;

$heading-color: darken($font-color, 12);
$strong-color: lighten($heading-color, 5);
$small-color: lighten($font-color, 20);

$divider-color: lighten($small-color, 25);

$link-color: #0d6efd;
$link-hover-color: #f0f7ff;
$link-color-masthead: darken($font-color, 20);

$message-background-color: #f8f9fa;
$message-color: $font-color;
$message-border-color: #d1ecf1;
$message-border-left: 4px solid #0dcaf0;

$note-background-color: #f0f7ff;
$note-border-color: #90c2ff;

$warning-background-color: #fff3cd;
$warning-border-color: #ffc107;

$tip-background-color: #d1e7dd;
$tip-border-color: #198754;

$info-background-color: #cff4fc;
$info-border-color: #0dcaf0;

$scrollbar-color: darken($link-hover-color, 10);

$table-border-color: $divider-color;
$table-background-even: #fff;
$table-background-odd: darken($table-background-even, 2);

$abbr-color: lighten($link-color-masthead, 8);
$abbr-border-color: $divider-color;

$blockquote-color: $small-color;
$blockquote-border-color: $divider-color;

$code-background-color: #fafafa;
$code-color: #c2355e;
$code-border-color: #d6d6d6;

$border-radius: .25rem;

$post-date-color: $small-color;
