@import url('fonts/fira-condensed.css');
@import url('fonts/ptserif.css');

:root {
    --bg-color: #FFFFFA;
    --fg-color: #080705;
    --highlight-color: #F1F3F5;
    --link-color: #1565C0;
    --heading-font: "Fira Sans Condensed", "Helvetica Neue", Arial, sans-serif;
    --body-font: "PT Serif", serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: #080705;
        --fg-color: #FFFFFA;
        --highlight-color: #212529;
    }
}
*, :after, :before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%
}
body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-family: var(--body-font);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.5rem;
}
a {
    font-weight: 400;
    color: var(--link-color);
    text-decoration: none;
}
a:focus, a:hover {
    background-color: var(--highlight-color);
    padding-top: .15rem;
    padding-bottom: .15rem;
}
a.la:focus, a.la:hover {
    background-color: transparent;
    color: var(--link-color);
    padding: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--fg-color);
    margin: 6.4rem 0 3.2rem 0;
}
h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
}
h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
}
h3 {
    font-size: 2.4rem;
    line-height: 2.8rem;
}
h4 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}
h5 {
    font-size: 2rem;
    line-height: 2.4rem;
}
h6 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}
code {
    font-family: var(--body-font);
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #e0e0e0;
    color: var(--fg-color);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
width: 100%}
.container {
    margin: 0 auto;
    max-width: 90rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.fab {
    font-weight: 400;
}
.content {
    flex: 1;
    display: flex;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centered .about {
    text-align: center;
}
.centered .about h1 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}
.centered .about h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 2.4rem;
}
.centered .about ul {
    list-style: none;
    margin: 3rem 0 1rem 0;
    padding: 0;
}
.centered .about ul li {
    display: inline-block;
    position: relative;
}
.centered .about ul li a {
    color: var(--fg-color);
    text-transform: uppercase;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
}
.centered .about ul li a i {
    font-size: 3.2rem;
}
.avatar img {
    width: 20rem;
    height: auto;
    border-radius: 50%;
}

@media only screen and (max-width:768px) {
    body {
        font-size: 1.75em;
        line-height: 1.6em;
    }
    h1 {
        font-size: 3rem;
        line-height: 3.4rem;
    }
    h2 {
        font-size: 2.6rem;
        line-height: 3rem;
    }
    h3 {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
    h4 {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    h5 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    h6 {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .centered .about h2 {
        font-size: 2rem;
    }
    .centered .about ul li a {
        font-size: 1.4rem;
    }
    .avatar img {
        width: 10rem;
    }
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-telegram {
  width: 1.0011428571428571em;
}
.icon-linkedin {
  width: 0.8571428571428571em;
}
.icon-github {
  width: 0.8571428571428571em;
}
