---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@lib/config";
import IconChevronLeft from "@assets/icons/IconChevronLeft.astro";

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
---

<a href={`/blog/${entry.slug}/`} class="card card-content group">
  <div class="content-flex">
    <div class="heading-lg mb-1">
      {entry.data.title}
    </div>
    <div class="date-meta">
      {formatDate(new Date(entry.data.date), "%B %d, %Y")}
    </div>
    {
      entry.data.description && (
        <div class="text-secondary-color text-sm leading-relaxed">
          {entry.data.description}
        </div>
      )
    }
  </div>

  <IconChevronLeft class="mt-1 h-5 w-5 flex-shrink-0 rotate-180" />
</a>
