---
import Container from "@components/Container.astro";
import { SITE } from "@lib/config";

const currentYear = new Date().getFullYear();
---

<footer class="mb-10 mt-10 border-t border-border pt-8 dark:border-border-dark">
  <Container>
    <div class="space-y-4">
      <div class="text-center text-sm">
        <div class="text-secondary-color text-sm">
          &copy; {currentYear} | {SITE.NAME}
        </div>
      </div>
    </div>
  </Container>
</footer>
