---
import Container from "@components/Container.astro";
import { SITE } from "@lib/constants";

const currentYear = new Date().getFullYear();
---

<footer
  class="animate mb-10 mt-10 border-t border-border pt-8 dark:border-border-dark"
>
  <Container>
    <div class="space-y-4">
      <div class="relative">
        <div class="absolute -top-12 right-0"></div>
      </div>
      <div class="text-center text-sm">
        <div class="text-sm text-text-secondary dark:text-text-secondary-dark">
          &copy; {currentYear} | {SITE.NAME}
        </div>
      </div>
    </div>
  </Container>
</footer>
