---
interface Props {
  type?: "note" | "warning" | "tip" | "info";
}

const { type = "note" } = Astro.props;
---

<div class={`message message-${type}`}>
  <p class="message-title">
    {type.toUpperCase()}
  </p>
  <div class="message-content">
    <slot />
  </div>
</div>
