---
interface Props {
  type?: "note" | "warning" | "tip" | "info";
}

const { type = "note" } = Astro.props;
const msgType = {
  note: "message-note",
  warning: "message-warning",
  tip: "message-tip",
  info: "message-info",
};
---

<div class={`message ${msgType[type]}`}>
  <p class="message-title">
    {type.toUpperCase()}
  </p>
  <div class="message-content">
    <slot />
  </div>
</div>
